
@layer base {
  :root,
  html,
  body,
  #root {
    @apply min-h-screen h-full;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
  
  html {
    @apply overflow-x-hidden scroll-smooth;
  }
  
  body {
    @apply overflow-x-hidden;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
